* {
    padding: 0;
    margin: 0;
}

body {
    background: #ff3a75;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 384px;
    background: #302d2d;
    border-radius: 30px;
}

.screen {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 299px;
    height: 88px;
    background: #C4C4C4;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #302d2d;
    width: 298px;
    height: 243px;
}

button {
    background-color: rgb(109, 101, 101);
    width: 67px;
    height: 38px;
    margin: 3px;
}
button p{
    text-align: center;
    font-size: 22px;
    color: white;
}
#ac,#zero{
    width: 141px;
}